In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [165]:
data1 = pd.read_csv('./data/allhypo.data')
data1 = pd.DataFrame(data1)
data1

,41,F,f,f.1,f.2,f.3,f.4,f.5,f.6,f.7,...,t.2,125,t.3,1.14,t.4,109,f.14,?,SVHC,negative.|3733
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [166]:
# 컬럼 이름 설정
columns = ['age', 'sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH', 'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',  'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source', 'misc']
data1.columns = columns
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,misc
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [167]:
# 컬럼 정리
data1[['diagnosis', 'id']] = data1['misc'].str.split(r'\.\|', expand=True)

data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,misc,diagnosis,id
0,23,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,other,negative.|1442,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,t,0.91,t,120,f,?,other,negative.|2965,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,f,?,f,?,f,?,other,negative.|806,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,t,0.87,t,70,f,?,SVI,negative.|2807,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,t,1.3,t,141,f,?,other,negative.|3434,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,1.05,t,148,f,?,SVI,negative.|3689,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,0.88,t,72,f,?,other,negative.|3652,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,0.8,t,183,f,?,other,negative.|1287,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,0.83,t,121,f,?,other,negative.|3496,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,0.99,t,115,f,?,SVI,negative.|724,negative,724

In [168]:
data1.drop(columns=['misc'], inplace=True)
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,diagnosis,id
0,23,F,f,f,f,f,f,f,f,f,...,102,f,?,f,?,f,?,other,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,109,t,0.91,t,120,f,?,other,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,175,f,?,f,?,f,?,other,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,61,t,0.87,t,70,f,?,SVI,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,183,t,1.3,t,141,f,?,other,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,155,t,1.05,t,148,f,?,SVI,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,63,t,0.88,t,72,f,?,other,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,147,t,0.8,t,183,f,?,other,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,100,t,0.83,t,121,f,?,other,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,114,t,0.99,t,115,f,?,SVI,negative,724

In [169]:
# 결측값 컬럼 삭제
data1.drop(columns=['TBG'], inplace=True)
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source,diagnosis,id
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,other,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,other,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,other,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,SVI,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,other,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,SVI,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,other,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,other,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,other,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,SVI,negative,724

In [170]:
# 사용하지 않는 컬럼 삭제
data1.drop(columns=['T3 measured', 'TT4 measured', 'T4U measured', 'FTI measured', 'TBG measured', 'TSH measured', 'referral source'], inplace=True)
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,diagnosis,id
0,23,F,f,f,f,f,f,f,f,f,...,f,f,f,4.1,2,102,?,?,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,f,f,f,0.98,?,109,0.91,120,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,f,f,f,0.16,1.9,175,?,?,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,f,f,f,0.72,1.2,61,0.87,70,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,f,f,f,0.03,?,183,1.3,141,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,f,f,f,2.7,?,155,1.05,148,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,f,f,f,?,0.7,63,0.88,72,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,f,f,f,?,?,147,0.8,183,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,f,f,f,1.4,?,100,0.83,121,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,f,f,f,1.2,1.5,114,0.99,115,negative,724

In [ ]:
# diagnosis 분리
# diagnsis = data1['diagnosis']
# id = data1['id']

In [171]:
# 결측값 정리
data1.replace('?', 0, inplace=True)
data1.fillna(0, inplace=True)
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,diagnosis,id
0,23,F,f,f,f,f,f,f,f,f,...,f,f,f,4.1,2,102,0,0,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,f,f,f,0.98,0,109,0.91,120,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,f,f,f,0.16,1.9,175,0,0,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,f,f,f,0.72,1.2,61,0.87,70,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,f,f,f,0.03,0,183,1.3,141,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,f,f,f,2.7,0,155,1.05,148,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,f,f,f,0,0.7,63,0.88,72,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,f,f,f,0,0,147,0.8,183,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,f,f,f,1.4,0,100,0.83,121,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,f,f,f,1.2,1.5,114,0.99,115,negative,724

In [172]:
data1.replace({'f': 0, 't': 1}, inplace=True)
data1

/var/folders/qb/fpx4hbcd25936pj8w5ds36t80000gn/T/ipykernel_14495/2846992266.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data1.replace({'f': 0, 't': 1}, inplace=True)

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,diagnosis,id
0,23,F,0,0,0,0,0,0,0,0,...,0,0,0,4.1,2,102,0,0,negative,1442
1,46,M,0,0,0,0,0,0,0,0,...,0,0,0,0.98,0,109,0.91,120,negative,2965
2,70,F,1,0,0,0,0,0,0,0,...,0,0,0,0.16,1.9,175,0,0,negative,806
3,70,F,0,0,0,0,0,0,0,0,...,0,0,0,0.72,1.2,61,0.87,70,negative,2807
4,18,F,1,0,0,0,0,0,0,0,...,0,0,0,0.03,0,183,1.3,141,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,0,0,0,0,0,0,0,0,...,0,0,0,2.7,0,155,1.05,148,negative,3689
2795,73,M,0,1,0,0,0,0,0,0,...,0,0,0,0,0.7,63,0.88,72,negative,3652
2796,75,M,0,0,0,0,0,0,0,0,...,0,0,0,0,0,147,0.8,183,negative,1287
2797,60,F,0,0,0,0,0,0,0,0,...,0,0,0,1.4,0,100,0.83,121,negative,3496
2798,81,F,0,0,0,0,0,0,0,0,...,0,0,0,1.2,1.5,114,0.99,115,negative,724

In [173]:
# sex
data1['sex'] = data1['sex'].replace({'M': 0, 'F': 1})

data1

/var/folders/qb/fpx4hbcd25936pj8w5ds36t80000gn/T/ipykernel_14495/95336595.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data1['sex'] = data1['sex'].replace({'M': 0, 'F': 1})

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,diagnosis,id
0,23,1,0,0,0,0,0,0,0,0,...,0,0,0,4.1,2,102,0,0,negative,1442
1,46,0,0,0,0,0,0,0,0,0,...,0,0,0,0.98,0,109,0.91,120,negative,2965
2,70,1,1,0,0,0,0,0,0,0,...,0,0,0,0.16,1.9,175,0,0,negative,806
3,70,1,0,0,0,0,0,0,0,0,...,0,0,0,0.72,1.2,61,0.87,70,negative,2807
4,18,1,1,0,0,0,0,0,0,0,...,0,0,0,0.03,0,183,1.3,141,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,0,0,0,0,0,0,0,0,0,...,0,0,0,2.7,0,155,1.05,148,negative,3689
2795,73,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0.7,63,0.88,72,negative,3652
2796,75,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,147,0.8,183,negative,1287
2797,60,1,0,0,0,0,0,0,0,0,...,0,0,0,1.4,0,100,0.83,121,negative,3496
2798,81,1,0,0,0,0,0,0,0,0,...,0,0,0,1.2,1.5,114,0.99,115,negative,724

In [174]:
data1.dtypes

age                          object
sex                           int64
on thyroxine                  int64
query on thyroxine            int64
on antithyroid medication     int64
sick                          int64
pregnant                      int64
thyroid surgery               int64
I131 treatment                int64
query hypothyroid             int64
query hyperthyroid            int64
lithium                       int64
goitre                        int64
tumor                         int64
hypopituitary                 int64
psych                         int64
TSH                          object
T3                           object
TT4                          object
T4U                          object
FTI                          object
diagnosis                    object
id                           object
dtype: object

In [175]:
data1[['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI']] = data1[['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI']].apply(pd.to_numeric, errors='coerce')
data1.dtypes

age                            int64
sex                            int64
on thyroxine                   int64
query on thyroxine             int64
on antithyroid medication      int64
sick                           int64
pregnant                       int64
thyroid surgery                int64
I131 treatment                 int64
query hypothyroid              int64
query hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH                          float64
T3                           float64
TT4                          float64
T4U                          float64
FTI                          float64
diagnosis                     object
id                            object
dtype: object

In [ ]:
# data1_corr = data1.corr()

In [ ]:
# plt.figure(figsize=(15, 12))
# sns.heatmap(data1_corr, annot=True, cmap='coolwarm', vmin=-1, vmax=1, fmt='.2f', linewidths=0.5, annot_kws={"size": 8})

In [185]:
data2 = pd.read_csv('./data/allhyper.data')
data2 = pd.DataFrame(data2)
data2

,41,F,f,f.1,f.2,f.3,f.4,f.5,f.6,f.7,...,t.2,125,t.3,1.14,t.4,109,f.14,?,SVHC,negative.|3733
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [186]:
# 컬럼 이름 설정
columns = ['age', 'sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH', 'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',  'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source', 'misc']
data2.columns = columns
data2

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,misc
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [187]:
# 컬럼 정리
data2[['diagnosis2', 'id']] = data2['misc'].str.split(r'\.\|', expand=True)

data2

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,misc,diagnosis2,id
0,23,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,other,negative.|1442,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,t,0.91,t,120,f,?,other,negative.|2965,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,f,?,f,?,f,?,other,negative.|806,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,t,0.87,t,70,f,?,SVI,negative.|2807,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,t,1.3,t,141,f,?,other,negative.|3434,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,1.05,t,148,f,?,SVI,negative.|3689,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,0.88,t,72,f,?,other,negative.|3652,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,0.8,t,183,f,?,other,negative.|1287,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,0.83,t,121,f,?,other,negative.|3496,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,0.99,t,115,f,?,SVI,negative.|724,negative,724

In [188]:
data2.drop(columns=['misc', 'TBG'], inplace=True)
data2

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source,diagnosis2,id
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,other,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,other,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,other,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,SVI,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,other,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,SVI,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,other,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,other,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,other,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,SVI,negative,724

In [189]:
# 사용하지 않는 컬럼 삭제
data2.drop(columns=['T3 measured', 'TT4 measured', 'T4U measured', 'FTI measured', 'TBG measured', 'TSH measured', 'referral source'], inplace=True)
data2

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,diagnosis2,id
0,23,F,f,f,f,f,f,f,f,f,...,f,f,f,4.1,2,102,?,?,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,f,f,f,0.98,?,109,0.91,120,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,f,f,f,0.16,1.9,175,?,?,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,f,f,f,0.72,1.2,61,0.87,70,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,f,f,f,0.03,?,183,1.3,141,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,f,f,f,2.7,?,155,1.05,148,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,f,f,f,?,0.7,63,0.88,72,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,f,f,f,?,?,147,0.8,183,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,f,f,f,1.4,?,100,0.83,121,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,f,f,f,1.2,1.5,114,0.99,115,negative,724

In [ ]:
# diagnosis 분리
# diagnsis = data2['diagnosis']
# id = data2['id']

In [190]:
data2 = data2[['diagnosis2', 'id']]
data2

     diagnosis2    id
0      negative  1442
1      negative  2965
2      negative   806
3      negative  2807
4      negative  3434
...         ...   ...
2794   negative  3689
2795   negative  3652
2796   negative  1287
2797   negative  3496
2798   negative   724

[2799 rows x 2 columns]

In [191]:
mergedf = pd.merge(data1, data2, how='left')
mergedf

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,diagnosis,id,diagnosis2
0,23,1,0,0,0,0,0,0,0,0,...,0,0,4.10,2.0,102.0,0.00,0.0,negative,1442,negative
1,46,0,0,0,0,0,0,0,0,0,...,0,0,0.98,0.0,109.0,0.91,120.0,negative,2965,negative
2,70,1,1,0,0,0,0,0,0,0,...,0,0,0.16,1.9,175.0,0.00,0.0,negative,806,negative
3,70,1,0,0,0,0,0,0,0,0,...,0,0,0.72,1.2,61.0,0.87,70.0,negative,2807,negative
4,18,1,1,0,0,0,0,0,0,0,...,0,0,0.03,0.0,183.0,1.30,141.0,negative,3434,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,0,0,0,0,0,0,0,0,0,...,0,0,2.70,0.0,155.0,1.05,148.0,negative,3689,negative
2795,73,0,0,1,0,0,0,0,0,0,...,0,0,0.00,0.7,63.0,0.88,72.0,negative,3652,negative
2796,75,0,0,0,0,0,0,0,0,0,...,0,0,0.00,0.0,147.0,0.80,183.0,negative,1287,negative
2797,60,1,0,0,0,0,0,0,0,0,...,0,0,1.40,0.0,100.0,0.83,121.0,negative,3496,negative
2798,81,1,0,0,0,0,0,0,0,0,...,0,0,1.20,1.5,114.0,0.99,115.0,negative,724,negative

In [196]:
mergedf.diagnosis.value_counts()

diagnosis
negative                   2579
compensated hypothyroid     154
primary hypothyroid          64
secondary hypothyroid         2
Name: count, dtype: int64

In [197]:
mergedf.diagnosis2.value_counts()

diagnosis2
negative        2722
hyperthyroid      62
T3 toxic           8
goitre             7
Name: count, dtype: int64

In [199]:
final_df = pd.DataFrame(mergedf)