In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

In [94]:
data1 = pd.read_csv('./data/allhypo.data')
data1 = pd.DataFrame(data1)
data1

,41,F,f,f.1,f.2,f.3,f.4,f.5,f.6,f.7,...,t.2,125,t.3,1.14,t.4,109,f.14,?,SVHC,negative.|3733
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [97]:
# 컬럼 이름 설정
columns = ['age', 'sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH', 'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',  'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source', 'misc']
data1.columns = columns
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,misc
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,?,SVI,negative.|3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,?,other,negative.|3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,?,other,negative.|1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,?,other,negative.|3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,?,SVI,negative.|724

In [98]:
# 컬럼 정리
data1[['negative', 'id']] = data1['misc'].str.split(r'\.\|', expand=True)

data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,misc,negative,id
0,23,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,other,negative.|1442,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,t,0.91,t,120,f,?,other,negative.|2965,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,f,?,f,?,f,?,other,negative.|806,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,t,0.87,t,70,f,?,SVI,negative.|2807,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,t,1.3,t,141,f,?,other,negative.|3434,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,1.05,t,148,f,?,SVI,negative.|3689,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,0.88,t,72,f,?,other,negative.|3652,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,0.8,t,183,f,?,other,negative.|1287,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,0.83,t,121,f,?,other,negative.|3496,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,0.99,t,115,f,?,SVI,negative.|724,negative,724

In [99]:
data1.drop(columns=['misc'], inplace=True)
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,negative,id
0,23,F,f,f,f,f,f,f,f,f,...,102,f,?,f,?,f,?,other,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,109,t,0.91,t,120,f,?,other,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,175,f,?,f,?,f,?,other,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,61,t,0.87,t,70,f,?,SVI,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,183,t,1.3,t,141,f,?,other,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,155,t,1.05,t,148,f,?,SVI,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,63,t,0.88,t,72,f,?,other,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,147,t,0.8,t,183,f,?,other,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,100,t,0.83,t,121,f,?,other,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,114,t,0.99,t,115,f,?,SVI,negative,724

In [106]:
# 결측값 컬럼 삭제
data1.drop(columns=['TBG'], inplace=True)
data1

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source,negative,id
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,other,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,other,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,other,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,SVI,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,other,negative,3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,t,155,t,1.05,t,148,f,SVI,negative,3689
2795,73,M,f,t,f,f,f,f,f,f,...,t,63,t,0.88,t,72,f,other,negative,3652
2796,75,M,f,f,f,f,f,f,f,f,...,t,147,t,0.8,t,183,f,other,negative,1287
2797,60,F,f,f,f,f,f,f,f,f,...,t,100,t,0.83,t,121,f,other,negative,3496
2798,81,F,f,f,f,f,f,f,f,f,...,t,114,t,0.99,t,115,f,SVI,negative,724

In [102]:
data1.describe().T

                          count unique       top  freq
age                        2799     94        59    75
sex                        2799      3         F  1829
on thyroxine               2799      2         f  2469
query on thyroxine         2799      2         f  2759
on antithyroid medication  2799      2         f  2765
sick                       2799      2         f  2689
pregnant                   2799      2         f  2758
thyroid surgery            2799      2         f  2760
I131 treatment             2799      2         f  2751
query hypothyroid          2799      2         f  2636
query hyperthyroid         2799      2         f  2626
lithium                    2799      2         f  2785
goitre                     2799      2         f  2774
tumor                      2799      2         f  2728
hypopituitary              2799      2         f  2798
psych                      2799      2         f  2664
TSH measured               2799      2         t  2515
TSH                        2799    264         ?   284
T3 measured                2799      2         t  2214
T3                         2799     65         ?   585
TT4 measured               2799      2         t  2615
TT4                        2799    218         ?   184
T4U measured               2799      2         t  2502
T4U                        2799    139         ?   297
FTI measured               2799      2         t  2504
FTI                        2799    210         ?   295
TBG measured               2799      1         f  2799
TBG                        2799      1         ?  2799
referral source            2799      5     other  1632
negative                   2799      4  negative  2579
id                         2799   2799       724     1

In [107]:
data1.replace('?', 0, inplace=True)
data1.fillna(0, inplace=True)
data1.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source,negative,id
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,0,f,0,f,other,negative,1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,other,negative,2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,0,f,0,f,other,negative,806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,SVI,negative,2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,other,negative,3434

In [114]:
data1['age'].value_counts

<bound method IndexOpsMixin.value_counts of 0       23
1       46
2       70
3       70
4       18
        ..
2794    70
2795    73
2796    75
2797    60
2798    81
Name: age, Length: 2799, dtype: object>

In [113]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2799 entries, 0 to 2798
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        2799 non-null   object
 1   sex                        2799 non-null   object
 2   on thyroxine               2799 non-null   object
 3   query on thyroxine         2799 non-null   object
 4   on antithyroid medication  2799 non-null   object
 5   sick                       2799 non-null   object
 6   pregnant                   2799 non-null   object
 7   thyroid surgery            2799 non-null   object
 8   I131 treatment             2799 non-null   object
 9   query hypothyroid          2799 non-null   object
 10  query hyperthyroid         2799 non-null   object
 11  lithium                    2799 non-null   object
 12  goitre                     2799 non-null   object
 13  tumor                      2799 non-null   object
 14  hypopituitary              2799 non-null   object
 15  psych                      2799 non-null   object
 16  TSH measured               2799 non-null   object
 17  TSH                        2799 non-null   object
 18  T3 measured                2799 non-null   object
 19  T3                         2799 non-null   object
 20  TT4 measured               2799 non-null   object
 21  TT4                        2799 non-null   object
 22  T4U measured               2799 non-null   object
 23  T4U                        2799 non-null   object
 24  FTI measured               2799 non-null   object
 25  FTI                        2799 non-null   object
 26  TBG measured               2799 non-null   object
 27  referral source            2799 non-null   object
 28  negative                   2799 non-null   object
 29  id                         2799 non-null   object
dtypes: object(30)
memory usage: 656.1+ KB